.navbar{
    background-color: #011627;
    display: flex;
    align-items: center;
    width: 100%;
    height: 8vh;
}
.logo{
    width: 30%;
    margin-left: 40px;
}
.a:hover{
    color: white;
}
input{
    margin-right: 50px;
    background-color: #fff;
    border-radius: 7px;
    border:#5f6061 1px solid;
    height: 45px;
    width: 400px;
    padding: 13px;
}
.liens{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;

}
.lien{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
}
.filtre{
    height: 50px;
    width: 250px;
    background-color: white;
    border: 2px solid #011627;
    border-radius: 10px;
    padding-left: 5px;
}
.sepa{
    border-right: 1px solid white;
    height: 60%;
}
.lien:hover{
    background-color: #fff;
    opacity: .7;
}
.search {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.searchTerm {
    width: 350px;
    border: 3px solid #fff;
    border-right: none;
    padding: 5px;
    height: 31px;
    border-radius: 10px;
    outline: none;
    color: #011627;
}

.searchTerm:focus{
    color: #fff;
}